.contact-form-container {
    margin-top: var(--homepage-section-spacing);
    max-width: 65%;
    margin-inline: auto;

    z-index: 10;
    position: relative;
    .contact-form-heading {
        margin-bottom: 70px;
        text-align: center;
    }
    .gform_footer {
        text-align: right;
    }
}
