// main: ../../../../../style.scss
.hero {
  --hero-info-position-bottom: 33%;
  --hero-info-width: 100%;
  --hero-info-background-color: transparent;
  --hero-info-padding: 2rem 2rem 1rem;
  --hero-info-font-color: white;

  --hero-title-max-width: none;

  --hero-height: calc(100vh - var(--content-inset));

  --mass-times-min-height: 100px;

  height: var(--hero-height);
  position: relative;
  z-index: 10;

  &:has(.hero-mass-times-modern) {
    height: auto;

    .hero-slider {
      height: var(--hero-height);
    }
  }

  &.has-video {
    --hero-height: auto;
  }
  .hero-slider {
    height: 100%;

    .hero-slide {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      &.parallax {
        @media screen and (min-width: $laptop) {
          background-attachment: fixed;
        }
      }

      &::before {
        content: "";
        // border: 2px solid var(--clr-primary);
        position: absolute;
        inset: 10px 10px calc(var(--mass-times-min-height) + 10px);
      }
    }
  }
  .hero-info {
    position: absolute;
    bottom: var(--hero-info-position-bottom);
    width: var(--hero-info-width);
    background: var(--hero-info-background-color);
    color: var(--hero-info-font-color);
    padding: var(--hero-info-padding);
    .hero-title {
      text-align: center;
      max-width: var(--hero-title-max-width);
    }
    .hero-buttons {
      display: flex;
      justify-content: center;
    }
  }
  .hero-video {
    height: 100%;
    margin-left: calc(50vw - var(--content-inset));
    transform: translateX(-50%);
    max-width: calc(100vw - (var(--content-inset) * 2));
  }
  .hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, black, transparent);
    transition: opacity 0.3s ease;
  }

  .hero-mass-times {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding-inline: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: var(--mass-times-min-height);
    flex-wrap: wrap;
    transition: min-height 0.5s ease-in-out;
    flex-direction: column;

    .fa-circle-minus {
      display: none;
    }
    .fa-circle-minus,
    .fa-circle-plus {
      background: #fff;
      border-radius: 25px;
      border: 1px solid #fff;
      margin-left: 5px;
      width: 21px;
      height: 21px;
      cursor: pointer;
      &::before {
        color: var(--clr-secondary);
        cursor: pointer;
      }
    }
    &:not(.open) {
      .mass-time-wrapper,
      .mass-times-schedule-link {
        height: 0;
        opacity: 0;
        margin: 0;
        transition: height 0.5s ease, opacity 0.5s ease, margin 0.5s ease;
      }
    }
    &.open {
      --mass-times-min-height: 85vh;
      transition: min-height 0.5s ease-in-out;
      .fa-circle-minus {
        display: block;
      }
      .fa-circle-plus {
        display: none;
      }
      .mass-time-wrapper:nth-child(2) {
        margin-top: 50px;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background: var(--clr-secondary);
      opacity: 0.85;
    }

    * {
      color: white;
      position: relative;
    }

    .hero-mass-title {
      display: flex;
      align-items: center;
      margin: 0;
      width: 100%;
      justify-content: center;
    }

    .separator {
      height: calc(var(--mass-times-min-height) - 30px);
      width: 3px;
      background-color: white;
      display: none;
    }

    .mass-time-wrappers {
      display: flex;
      justify-content: space-around;
      width: 100%;
      flex-direction: column;
    }

    .mass-time-wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: center;
      height: auto;
      opacity: 1;
      transition: height 0.5s ease, opacity 0.5s ease, margin 0.5s ease;
      flex-direction: column;
      text-align: center;
      .mass-time-day {
        h4 {
          margin: 0;
        }
      }
      .mass-times-list {
        display: flex;
        flex-direction: column;
        h6 {
          margin: 0;
          max-width: 200px;
        }
      }
      &.hidden-laptop {
        display: flex !important;
      }
    }

    .mass-times-schedule-link {
      display: flex;
      width: 100%;
      margin: 15px auto;
      justify-content: center;
      height: auto;
      opacity: 1;
      transition: height 0.5s ease, opacity 0.5s ease, margin 0.5s ease;
      .the-button {
        background: transparent;
        color: white;
        border-color: white;
        &:hover {
          background: white;
          color: var(--clr-secondary);
          border-color: white;
        }
      }
    }
  }

  @media screen and (min-width: $tablet) {
    --hero-title-max-width: 70%;

    .hero-title {
      margin: auto;
    }

    .hero-mass-times {
      .mass-time-wrappers {
        flex-direction: row;
        align-items: flex-start;
        .mass-time-wrapper:nth-child(2) {
          margin-top: 0;
        }
      }
      flex-direction: row;
      justify-content: space-around;
      padding-inline: 5%;
      &.open {
        --mass-times-min-height: 50vh;
      }
    }
  }
  @media screen and (min-width: $laptop) {
    --hero-title-max-width: 50%;

    .hero-mass-times {
      justify-content: space-between;
      .mass-time-wrappers {
        align-items: center;
        justify-content: space-around;
        width: 50%;
      }
      .mass-time-wrapper {
        text-align: left;
      }
      .mass-time-wrapper,
      .mass-times-schedule-link {
        height: auto !important;
        opacity: 1 !important;
        flex-direction: row !important;
      }
      &.open {
        --mass-times-min-height: 100px;
      }
      .hero-mass-title {
        max-width: min-content;
      }
      .separator {
        display: block;
      }
      .mass-time-wrapper {
        justify-content: flex-start;
      }
      .mass-time-wrapper.hidden-mobile {
        display: flex !important;
      }
      .mass-time-wrapper.hidden-laptop {
        display: none !important;
      }
      .mass-time-wrapper:nth-child(4) {
        display: flex;
      }
      .mass-times-schedule-link {
        display: block;
        width: auto;
        margin: 0;
      }
    }
  }
  @media screen and (min-width: $desktop) {
    .hero-video {
      width: 100%;
      height: auto;
      margin-left: 0;
      transform: none;
    }

    .hero-mass-times {
      padding-inline: 10%;

      .mass-time-wrapper {
        gap: 50px;
      }
    }
  }
}
